{% if page.layout == "framework" %}
<div class="framework_downloads" style="background-color: #222;">
  <a href="/download">Download</a><a href="/learn">Learn</a><a href="/request">Request</a><a href="https://www.goodreads.com/book/show/56139631-designing-hope">Review &rsaquo;</a>
</div>  
<footer class="framework_footer" style="background-color: #000;">
  Typeset in <a href="https://fonts.google.com/specimen/IBM+Plex+Sans">IBM Plex Sans</a> &amp; <a href="https://fonts.google.com/specimen/Cardo">Cardo</a> &nbsp;&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;&nbsp;&#x21AF;&nbsp;Producing <a href="https://www.websitecarbon.com/website/hopeful-design/">0.05g of CO<sub>2</sub>/view</a>  &nbsp;&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;&nbsp; License <a
     href="https://creativecommons.org/licenses/by-nc-nd/4.0/">CC BY-NC-ND</a>
</footer>

{% elsif page.permalink == "/toc" %}
<div class="downloads">
	<a href="/download">Download</a><a href="/learn">Learn</a><a href="/request">Request</a><a href="https://www.goodreads.com/book/show/56139631-designing-hope">Review &rsaquo;</a>
</div>	
<footer style="background-color: #f4f4f3;">
  Typeset in <a href="https://fonts.google.com/specimen/IBM+Plex+Sans">IBM Plex Sans</a> &amp; <a href="https://fonts.google.com/specimen/Cardo">Cardo</a> &nbsp;&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;&nbsp;&#x21AF;&nbsp;Producing <a href="https://www.websitecarbon.com/website/hopeful-design/">0.05g of CO<sub>2</sub>/view</a>  &nbsp;&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;&nbsp; License <a
     href="https://creativecommons.org/licenses/by-nc-nd/4.0/">CC BY-NC-ND</a>
</footer>

{% elsif page.permalink == "/download" %}
<div class="downloads">
	<span class="active">Download</span><a href="/learn">Learn</a><a href="/request">Request</a><a href="https://www.goodreads.com/book/show/56139631-designing-hope">Review &rsaquo;</a>
</div>	
<footer style="background-color: #f4f4f3;">
  Typeset in <a href="https://fonts.google.com/specimen/IBM+Plex+Sans">IBM Plex Sans</a> &amp; <a href="https://fonts.google.com/specimen/Cardo">Cardo</a> &nbsp;&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;&nbsp;&#x21AF;&nbsp;Producing <a href="https://www.websitecarbon.com/website/hopeful-design/">0.05g of CO<sub>2</sub>/view</a>  &nbsp;&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;&nbsp; License <a
     href="https://creativecommons.org/licenses/by-nc-nd/4.0/">CC BY-NC-ND</a>
</footer>

{% elsif page.permalink == "/learn" %}
<div class="downloads">
	<a href="/download">Download</a><span class="active">Learn</span><a href="/request">Request</a><a href="https://www.goodreads.com/book/show/56139631-designing-hope">Review &rsaquo;</a>
</div>	
<footer style="background-color: #f4f4f3;">
  Typeset in <a href="https://fonts.google.com/specimen/IBM+Plex+Sans">IBM Plex Sans</a> &amp; <a href="https://fonts.google.com/specimen/Cardo">Cardo</a> &nbsp;&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;&nbsp;&#x21AF;&nbsp;Producing <a href="https://www.websitecarbon.com/website/hopeful-design/">0.05g of CO<sub>2</sub>/view</a>  &nbsp;&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;&nbsp; License <a
     href="https://creativecommons.org/licenses/by-nc-nd/4.0/">CC BY-NC-ND</a>
</footer>

{% elsif page.permalink == "/request" %}
<div class="downloads">
	<a href="/download">Download</a><a href="/learn">Learn</a><span class="active">Request</span><a href="https://www.goodreads.com/book/show/56139631-designing-hope">Review &rsaquo;</a>
</div>	
<footer style="background-color: #f4f4f3;">
  Typeset in <a href="https://fonts.google.com/specimen/IBM+Plex+Sans">IBM Plex Sans</a> &amp; <a href="https://fonts.google.com/specimen/Cardo">Cardo</a> &nbsp;&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;&nbsp;&#x21AF;&nbsp;Producing <a href="https://www.websitecarbon.com/website/hopeful-design/">0.05g of CO<sub>2</sub>/view</a>  &nbsp;&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;&nbsp; License <a
     href="https://creativecommons.org/licenses/by-nc-nd/4.0/">CC BY-NC-ND</a>
</footer>

{% else %}
<footer style="background-color: #f4f4f3;">
  Typeset in <a href="https://fonts.google.com/specimen/IBM+Plex+Sans">IBM Plex Sans</a> &amp; <a href="https://fonts.google.com/specimen/Cardo">Cardo</a> &nbsp;&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;&nbsp;&#x21AF;&nbsp;Producing <a href="https://www.websitecarbon.com/website/hopeful-design/">0.05g of CO<sub>2</sub>/view</a>  &nbsp;&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;&nbsp; License <a
     href="https://creativecommons.org/licenses/by-nc-nd/4.0/">CC BY-NC-ND</a>
</footer>
{% endif %}