{% if page.layout == "framework" %}
<footer class="framework_footer" style="background-color: #000;">
  By <a href="https://jeremydcherry.com">Jeremy D. Cherry</a>&nbsp;&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;&nbsp;&nbsp;License <a
     href="https://creativecommons.org/licenses/by-nc-nd/4.0/">CC BY-NC-ND</a>
</footer>
{% else %}
<footer style="background-color: #f4f4f3;">
  By <a href="https://jeremydcherry.com">Jeremy D. Cherry</a>&nbsp;&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;&nbsp;&nbsp;License <a
     href="https://creativecommons.org/licenses/by-nc-nd/4.0/">CC BY-NC-ND</a>
</footer>
{% endif %}