{% if page.layout == "framework" %}
<footer class="framework_footer" style="background-color: #000;">
  Typeset in <a href="https://fonts.google.com/specimen/IBM+Plex+Sans">IBM Plex Sans</a> &amp; <a href="https://fonts.google.com/specimen/Cardo">Cardo</a>&nbsp;&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;&nbsp;License <a
     href="https://creativecommons.org/licenses/by-nc-nd/4.0/">CC BY-NC-ND</a>
</footer>
{% else %}
<footer style="background-color: #f4f4f3;">
  Typeset in <a href="https://fonts.google.com/specimen/IBM+Plex+Sans">IBM Plex Sans</a> &amp; <a href="https://fonts.google.com/specimen/Cardo">Cardo</a>&nbsp;&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;&nbsp;License <a
     href="https://creativecommons.org/licenses/by-nc-nd/4.0/">CC BY-NC-ND</a>
</footer>
{% endif %}