@import "normalize";
@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=IBM+Plex+Sans:ital,wght@0,100;0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

// !-- Large Screens //

* {
  box-sizing: border-box;
}

.nav-column {
  float: left;
}

.nav-left {
  width: 50%;
}

.nav-right {
  width: 50%;
}

.column {
  float: left;
}

.left {
  width: 50%;
}

.right {
  width: 50%;
}

.column-third {
  float: left;
}

.col-third-1 {
  width: 25%;
}

.col-third-2 {
  width: 25%;
}

.col-third-3 {
  width: 50%;
}

.column-half {
  float: left;
}

.col-half-1 {
  width: 50%;
}

.col-half-2 {
  width: 50%;
}

.col-uneven-1 {
  width: 30%;
}

.col-uneven-2 {
  width: 70%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.resource-column-third {
  float: left;
}

.resource-col-third-1 {
  width: 33.3%;
  padding: 0 40px;
}

.resource-col-third-2 {
  width: 33.3%;
  padding: 0 40px;
}

.resource-col-third-3 {
  width: 33.3%;
  padding: 0 40px;
}

body {
  font-family: "Cardo", serif;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: -0.01em;
  line-height: 1.5;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  display: block;
  margin-block-start: 1.25em;
  margin-block-end: 1.25em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

b, strong {
  font-weight: 500;
}

hr {
  width: 50px;
  border-width: 2px;
  border-color: #ddd;
  border-style: solid;
  margin: 2em 0;
}

.toc hr {
  width: 50px;
  border-width: 1px;
  border-color: #ddd;
  border-style: solid;
  margin: 2em 0;
}


li{
  font-family: "Cardo", serif;
  font-weight: 400;
  font-size: 19px;
}

.navbar{
  margin: 0 50px;
  padding: 30px 0 60px;
}

.icon{
  width: 36px;
}

.logo{
  margin-left: 50px;
  width: 130px;
}

.firstcharacter {
  color: #111;
  float: left;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 75px;
  font-weight: 500;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

.toc-nav{
  padding-top: 10px;
  color: #999;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  text-align: right;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.toc-nav a{
  color: #000;
  font-weight: 400;
  text-decoration: none;
}

.toc-nav a:hover{
  color: #ff0048;
  text-decoration: none;
}

img.book-title{
  width: 90px;
}

.framework-nav{
  padding-top: 10px;
  color: #999;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  text-align: right;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.framework-nav a{
  color: #fff;
  font-weight: 400;
  text-decoration: none;
}

.framework-nav a:hover{
  color: #ff0048;
  text-decoration: none;
}

.main-content {
  min-height: calc(100vh - 90px - 70px); // header height: 90px, footer height: 70px
  margin: 0 auto;
}

.page-header {
    margin: 0 auto;
}

.chapter-header {
  background-color: #f4f4f3;
}

.main-copy{
  margin: 3em auto 6em;
  max-width: 60ch;
}

.main-toc{
  margin: 0 auto 1em;
  max-width: 1200px;
}

.main-landing{
  margin: 1em auto 4em;
  max-width: 1200px;
}

.main-page{
  margin: 0 auto 4em;
  max-width: 1200px;
}

.main-framework{
  margin: 0 auto;
}

.toc-page{
  margin: 0;
  padding-bottom: 1em;
}

.landing-page{
  margin: 0;
  padding-bottom: 1em;
}

.landing{
  padding: 4em 4em 4em 0;
  font-size: 19px;
}

.landing h1 {
  color: #000;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 48px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.05em;
  margin-block-start: .25em;
  margin-block-end: .25em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.landing h2 {
  color: #999;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.03em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.landing h6 {
  color: #666;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.03em;
  line-height: 1.5;
  text-align: left;
  margin-block-start: 0px;
  margin-block-end: 0.5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-top: 8px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.landing a.download-link{
  color: #000;
  border-bottom: 1px #ddd solid;
  text-decoration: none;
  font-weight: 500;
}

.landing a.download-link:hover{
  background-color: #ff0048;
  color: #fff;
}


.author{
  padding: 0 4em 0 0;
  font-size: 19px;
}

.author h1 {
  color: #000;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 36px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.05em;
  margin-block-start: .25em;
  margin-block-end: .25em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.author h2 {
  color: #999;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.03em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.author h3{
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1;
  display: block;
  margin-block-start: .5em;
  margin-block-end: 2em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.author h4 {
  color: #000;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.03em;
  line-height: 1.5;
  text-align: left;
  margin-block-start: 0px;
  margin-block-end: 0.5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-top: 8px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.author h6 {
  color: #666;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.03em;
  line-height: 1.5;
  text-align: left;
  margin-block-start: 0px;
  margin-block-end: 0.5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-top: 8px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.author a{
  color: #ff0048;
  font-weight: 500;
  text-decoration: none;
}

.author a:hover{
  color: #000;
  text-decoration: none;
}

.landing a.author-link{
  font-weight: 400;
  border-bottom: 1px #ddd solid;
  color: #000;
  text-decoration: none;
}

.landing a.author-link:hover{
  background-color: #ff0048;
  color: #fff;
  border-bottom: none;
  text-decoration: none;
}

.toc h2 {
  color: #bbb;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 36px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.03em;
  margin-block-start: 1.25em;
  margin-block-end: 1.25em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.toc h3{
  color: #777;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1;
  display: block;
  margin-block-start: .5em;
  margin-block-end: 3em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.toc h4 {
  color: #999;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.03em;
  margin-block-start: 1.25em;
  margin-block-end: 1.25em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.toc h5 {
  color: #000;
  font-family: "Cardo", serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.03em;
  margin-block-start: 1.25em;
  margin-block-end: 1.25em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.toc h6 {
  color: #666;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.03em;
  line-height: 1.5;
  text-align: left;
  margin-block-start: 0px;
  margin-block-end: 0.5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-top: 8px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.toc a.download-link{
  font-weight: 500;
}

.toc a{
  color: #000;
  border-bottom: 1px #ddd solid;
  text-decoration: none;
}

.toc a:hover{
  background-color: #ff0048;
  color: #fff;
  border-bottom: none;
  text-decoration: none;
}

a.note-highlight{
  background-color: #FDFFDC;
  color: #000;
  font-weight: 400;
  padding: 2px;
  text-decoration: none;
}

a.note-highlight:hover{
  background-color: #F8FF64;
} 

.cover{
  max-width: 400px;
  background-color: #f4f4f3;
  padding: 2.5em 1.75em 2em;
  display: block;
  margin: 0 auto;
  box-shadow: 0 0 10px 0 rgba(40,42,47,0.1), -10px 10px 24px 10px rgba(40,42,47,0.05), -30px 40px 30px 0 rgba(40,42,47,0.1), -10px 10px 10px -5px rgba(40,42,47,0.1);
}

.cover img.cover-illustration{
  width: 80%;
  display: block;
  margin: 0 auto;
  padding: 2.5em 0 3.5em;
}

.cover h1 {
  color: #000;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 44px;
  font-weight: 500;
  line-height: .95;
  letter-spacing: -0.05em;
  margin-block-start: 0px;
  margin-block-end: .25em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cover h2 {
  color: #222;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: -0.03em;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cover h3{
  color: #222;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 13px;
  text-align: right;
  text-transform: none;
  letter-spacing: -0.03em;
  line-height: 1;
  display: block;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img.book-cover{
  display: block;
  margin: 0 auto;
  max-width: 65%;
  box-shadow: 0 0 10px 0 rgba(40,42,47,0.1), -10px 10px 24px 10px rgba(40,42,47,0.05), -30px 40px 30px 0 rgba(40,42,47,0.1), -10px 10px 10px -5px rgba(40,42,47,0.1);
}

.downloads{
  background-color: #f4f4f3;
  text-align: center;
  margin-top: 4em;
  padding: .75em 0;
}

.downloads a{
  color: #ff0048;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.03em;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.downloads a:hover{
  color: #000;
}

.download-left{
  padding-right: 30px;
}

img.illustration{
  display: block;
  margin: 0 auto 3em;
  padding: 0 0 4em;
  width: 600px;
}

.page-title h1{
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 70px;
  font-weight: 500;
  letter-spacing: -0.03em;
  line-height: 1;
  display: block;
  margin-block-start: .1em;
  margin-block-end: .5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1{
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 90px;
  font-weight: 500;
  letter-spacing: -0.03em;
  line-height: 1;
  display: block;
  margin-block-start: .1em;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 1;
  margin-block-start: 2em;
  margin-block-end: .25em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h3{
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1;
  display: block;
  margin-block-start: .5em;
  margin-block-end: .5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h4 {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 26px;
    font-weight: 300;
    letter-spacing: -0.02em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h5 {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -0.02em;
    margin-block-start: .25em;
    margin-block-end: .25em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h6 {
    color: #ccc;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

blockquote {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 20px;
    border-left: #ddd 4px solid;
    padding: 0 50px 0 30px;
    letter-spacing: -0.03em;
    margin-inline-start: 20px;
    margin-inline-end: 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.btn{
  color: #fff;
  background-color: #ff0048;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: 0;
  border-radius: 50px;
  padding: 12px 50px;
  text-decoration: none;

  &:hover {
    background-color: #000;
    color: #fff;
  }
}

.btn-border{
  color: #000;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: 1px #000 solid;
  border-radius: 50px;
  padding: 12px 40px;
  margin-left: 10px;
  text-decoration: none;

  &:hover {
    background-color: #000;
    color: #fff;
  }
}

.btn_resource{
  color: #fff;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: 1px solid #444;
  border-radius: 50px;
  padding: 12px 50px;
  text-decoration: none;

  &:hover {
    background-color: #ff0048;
    border: 1px solid #ff0048;
    color: #fff;
  }
}

.next {
  margin-top: 0;

  a {
    background-color: #e8e8e5;
    padding: 2em 0;
    text-align: center;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 48px;
    font-weight: 500;
    letter-spacing: -.03em;
    line-height: 1;
    display: block;
    color: #000;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: .5s;

    &:hover {
      background-color: #ff0048;
      color: #fff;
      text-decoration: none;
    }
  }
}

.credit{
  text-align: left;
  margin-left: 50px;
}

.license{
  text-align: right;
  margin-right: 50px
}

footer{
  color: #888;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 13px;
  padding: 25px 0;
  text-align: center;
  height: 70px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

footer a{
  color: #000;
  text-decoration: none;
}

footer a:hover{
  background-color: #ff0048;
  color: #fff;
}

footer.framework_footer{
  color: #888;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 12px;
  padding: 25px 0;
  text-align: center;
  height: 70px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

footer.framework_footer a{
  color: #fff;
  text-decoration: none;
}

footer.framework_footer a:hover{
  background-color: #ff0048;
  color: #fff;
}

.definition-inner{
  max-width: 1200px;
  padding: 5em 0 4em;
  border-bottom: 1px solid #333;
  margin: 0 auto;
}

.definition-copy{
  max-width: 150ch;
}

.definition h1{
  color: #888;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 78px;
  font-weight: 300;
  line-height: 1.15;
  letter-spacing: -0.05em;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.definition h3 {
  color: #999;
  margin-block-start: 0px;
  margin-block-end: 3em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.definition .first-phrase{
  font-weight: 500;
  color: #fff;
}

.principles-inner{
  max-width: 1200px;
  padding: 4em 0;
  border-bottom: 1px solid #333;
  margin: 0 auto;
}

.principles-copy{
  padding-top: 15px;
  max-width: 60ch;
}

.principles h1{
  color: #fff;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 120px;
  font-weight: 300;
  letter-spacing: -0.03em;
  line-height: .75;
  display: block;
  text-align: right;
  padding-right: 50px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.principles h2 {
  color: #fff;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 1;
  margin-block-start: 0px;
  margin-block-end: 10px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.principles h3 {
  color: #999;
}

.principles h5 {
  font-weight: 300;
  color: #eee;
  font-size: 19px;
}

.glyph{
  float: right;
  width: 150px;
  margin-right: 80px;
}

.glyph-number{
  float: right;
  width: 150px;
  margin-right: 70px;
}

.resource-glyph{
  margin: 0 0 20px;
}

.practices-copy{
  max-width: 48ch;
  margin-bottom: 15px;
}

.practices-inner{
  max-width: 1200px;
  padding: 4em 0 8em;
  margin: 0 auto;
}

.practices h1{
  color: #555;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 110px;
  font-weight: 100;
  letter-spacing: -0.03em;
  line-height: .75;
  display: block;
  text-align: right;
  padding-right: 80px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.practices h2 {
  color: #fff;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 1;
  margin-block-start: 0px;
  margin-block-end: 10px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.practices h3 {
  color: #999;
}

.practices h5 {
  font-weight: 300;
  color: #eee;
  font-size: 19px;
}

.resources{
  text-align: center;
}

.resources-inner{
  max-width: 1200px;
  padding: 4em 0;
  margin: 0 auto;
}

.resources h2 {
  color: #fff;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 1;
  margin-block-start: 0px;
  margin-block-end: 10px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.resources h3 {
  color: #999;
  padding: 0 0 50px;
}

.resources h5 {
  color: #ddd;
  font-size: 14px;
}

.about-page{
  color: #000;
  font-size: 19px;
  font-weight: 400;
  letter-spacing: -0.01em;
  line-height: 1.5;
  padding: 0 2em;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 2em;
}

.about-page a{
  color: #ff0048;
  font-weight: 500;
  padding: 0 3px;
  text-decoration: none;
}

.about-page a:hover{
  color: #000;
} 

.about-page a.resource-link{
  color: #ff0048;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.03em;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.about-page a.resource-link:hover{
  color: #000;
}

.about-page h1{
  color: #000;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 70px;
  font-weight: 500;
  letter-spacing: -0.05em;
  line-height: 1;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.about-page h2{
  color: #000;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: -0.03em;
  line-height: 1.25;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.about-page h3{
  color: #555;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1;
  display: block;
  margin-block-start: .5em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.about-page h4{
  color: #000;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.03em;
  line-height: 1.5;
  margin-block-start: 0px;
  margin-block-end: 0.5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.about-page h5{
  color: #777;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.03em;
  line-height: 2;
  margin-block-start: 0px;
  margin-block-end: 0.5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.about-page h6{
  color: #666;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.03em;
  line-height: 1.5;
  text-align: left;
  margin-block-start: 0px;
  margin-block-end: 0.5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-top: 8px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.download-page{
  color: #000;
  font-size: 19px;
  font-weight: 400;
  letter-spacing: -0.01em;
  line-height: 1.5;
  padding: 0 6em 0 2em;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 4em;
}

.download-page h1{
  color: #000;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 70px;
  font-weight: 500;
  letter-spacing: -0.05em;
  line-height: 1;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.download-page h2{
  color: #000;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: -0.03em;
  line-height: 1.25;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.download-page h5{
  color: #666;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.03em;
  line-height: 1;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.resource-icon{
  width: 16px;
  position: relative;
  top: 3px;
}

.book-image{
  width: 100%;
}

.headshot{
  width: 100%;
}

.bio{
  font-size: 15px;
  padding-left: 40px;
}

.download-copy{
  padding-right: 6em;
}

.download-copy a{
  color: #ff0048;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 15px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.download-copy a:hover{
  color: #000;
}



// !-- Medium Screens //

@media screen and (max-width: 1000px) {
.landing{padding: 20px 40px 0 0;}
}

@media screen and (max-width: 900px) {
.landing{padding: 0 40px 0 0;}
}


// !-- Small Screens //

@media screen and (max-width: 800px) {
  body{font-size: 21px;}
  img.book-cover{max-width: 75%; margin-bottom: 2em; box-shadow: 0 0 4px 0 rgba(40,42,47,0.1), -4px 4px 10px 4px rgba(40,42,47,0.05), -12px 18px 12px 0 rgba(40,42,47,0.1), -4px 4px 4px -1px rgba(40,42,47,0.1);}
  .column{width: 100%;}
  .main-toc{margin: 1em auto; max-width: 85%;}
  .main-landing{margin: 1em auto; max-width: 85%;}
  .main-copy{margin: 2em auto 4em; max-width: 85%;}
  .error{margin: 2em auto 4em; max-width: 85%;}
  .error h1{font-size:90px;}
  .error h2{font-size:20px;}
  .error h5{font-size:16px;}
  .main-framework{max-width: 100%; margin-top: 30px; padding:0;}
  .main-page{margin: 1em auto; max-width: 85%;}
  .navbar{margin: 0 25px; padding: 20px 0 0}
  .toc-nav a.nav-link{padding-left: 0;}
  .chapter-nav{padding: 1em 1.25em .5em;}
  .framework-nav{padding: 1em 1.25em .5em;}
  .nav-link{margin-left: 0;}
  .about{margin-right: 25px;}
  .about a{padding-left: 30px;}
  .about .active{padding-left: 30px;}
  .logo{margin-left: 25px;}
  .landing-page{margin: 0; padding-bottom: 1em;}
  .landing{padding: 0; font-size:18px;}
  .landing h1{font-size: 40px; letter-spacing: -0.05em}
  .toc h2{font-size:27px;}
  .cta{padding: 2em 0;}
  .cta-copy{padding:0 0 20px 0;}
  button{font-size: 14px; width:100%; margin-top:20px; margin-bottom: 15px; margin-right: 0;} 
  button.small{font-size: 14px; width:100%; margin-bottom: 15px; margin-right: 0; padding: 10px 50px;}
  .downloads{margin-top: 2em;}
  footer{font-size: 12px;}
  .credit{text-align: center; margin: 0 0 10px 0;}
  .license{text-align: center; margin: 0;}
  img.illustration{width:100%; margin: 1em auto 2em; padding: 0 0 3em;}
  img.book-image{width:100%; margin-bottom: 0.5em}
  h1{font-size:60px; letter-spacing: -0.05em;}
  h2{font-size: 25px;}
  h3{font-size: 14px;}
  h4{font-size: 25px;}
  h5{font-size: 20px;}
  blockquote{font-size: 19px; border-left: #eee 5px solid; padding: 0 0 0 20px; margin-inline-start: 0px; margin-inline-end: 0px;}
  .next a{font-size: 36px; padding: 2em 1em;}
  .author{font-size: 18px; padding: 0; margin-bottom: 4em;}
  .about-content{padding: 0;}
  .about-page h1{font-size: 48px; margin-bottom: 0.5em;}
  .about-page h2{font-size: 26px;}
  .about-page h6{font-size: 15px; text-align: center;}
  .download-left{padding-right: 30px;}
  .landing a.resource-link{font-size: 12px;}
  .about a.resource-link{font-size: 12px;}
  .download-page{margin-top: 2em; padding: 0;}
  .download-page h1{font-size: 48px; margin-block-end: .5em;}
  .download-page h2{font-size: 24px; margin-block-end: .25em;}
  .download-copy{padding-right: 0;}
  .column-third{width: 100%; text-align: center;}
  .column-half{width: 100%; text-align: center;}
  .resource-column-third{width: 100%; text-align: center;}
  .definition{padding:0 25px; margin:0;}
  .definition-inner{max-width:100%; padding:0 0 2em;}
  .definition h1{font-size:31px;}
  .definition h4{font-size:23px; line-height: 1.35;}
  .principles{padding:0 25px 50px;}
  .principles-inner{max-width:100%; padding:0 0 2em;}
  .principles h2{font-size: 28px; padding-bottom: 10px;}
  .principles h3{margin-block-start:4em; margin-block-end: 4em;}
  .principles h5{font-size: 18px;}
  .glyph{float:none; margin-right:0; padding-bottom: 20px;}
  .glyph-2{float:none; margin-right:0; padding-bottom: 20px;}
  .resource-glyph{float:none; margin-bottom:5px; padding: 0;}
  .practices{padding:0 25px;}
  .practices-inner{max-width:100%; padding:0 0 2em;}
  .practices h1{text-align: center; padding: 0 0 20px 0;}
  .practices h2{font-size: 28px; padding-bottom: 10px;}
  .practices h3{margin-block-start:4em; margin-block-end: 4em;}
  .practices h5{font-size: 18px;}
  .resources{padding:0 25px;}
  .resources-inner{max-width:100%; padding:2em 0 2em;}
  .resources h2{font-size: 22px;}
  .resources h3{padding: 50px 0}
  .resources h5{font-size: 14px;}
}


