@import "normalize";
@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital@0;1&family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;1,400&display=swap');

* {
  box-sizing: border-box;
}


.column {
  float: left;
}

.left {
  width: 50%;
}

.right {
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
  .main-toc{
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  }
}

body {
  font-family: "Cardo", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  display: block;
  margin-block-start: 1.35em;
  margin-block-end: 1.35em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

b, strong {
  font-weight: 500;
}

.icon{
  margin-left: 50px;
  width: 36px;
}

.logo{
  margin-left: 50px;
  width: 130px;
}

a.home{
  transition: .5s;
}

a.home:hover{
  opacity: .5;
}

.about{
  margin-right: 50px;
  text-align: right;
  color: #000;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.03em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.about a{
  color: #000;
  text-decoration: none;
  transition: .5s;
}

.about a:hover{
  color: #ff0048;
  text-decoration: none;
}

.main-content {
  margin: 0 auto;
}

.page-header {
    margin: 1em auto;
}

.chapter-header {
  background-color: #F4F4F3;
  padding: 1em 0;
}

.main-copy{
  margin: 3em auto 1em;
  max-width: 60ch;
}

.main-toc{
  margin: 1em auto;
  max-width: 70%;
}

.toc h2 {
  color: #999;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 36px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.03em;
  margin-block-start: 1.25em;
  margin-block-end: 1.25em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.toc h4 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.03em;
  margin-block-start: 1.25em;
  margin-block-end: 1.25em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.toc a{
  color: #000;
  text-decoration: none;
  transition: .5s;
}

.toc a:hover{
  background-color: #ff0048;
  color: #fff;
  text-decoration: none;
}

img.book-cover{
  max-width: 85%;
  -webkit-box-shadow: 10px 10px 0px 0px rgba(221,221,221,1);
  -moz-box-shadow: 10px 10px 0px 0px rgba(221,221,221,1);
  box-shadow: 10px 10px 0px 0px rgba(221,221,221,1);
  transition: 1s;
}

img.book-cover:hover{
  -webkit-box-shadow: 20px 20px 20px 0px rgba(187,187,187,1);
  -moz-box-shadow: 20px 20px 20px 0px rgba(187,187,187,1);
  box-shadow: 20px 20px 20px 0px rgba(187,187,187,1);
}

img.illustration{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  width: 700px;
}

.page-title h1{
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 70px;
  font-weight: 500;
  letter-spacing: -0.03em;
  line-height: 1;
  display: block;
  margin-block-start: .1em;
  margin-block-end: .5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1{
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 90px;
  font-weight: 500;
  letter-spacing: -0.03em;
  line-height: 1;
  display: block;
  margin-block-start: .1em;
  margin-block-end: .5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 1;
  margin-block-start: 2em;
  margin-block-end: .25em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h3{
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1;
  display: block;
  margin-block-start: .5em;
  margin-block-end: .5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h4 {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 28px;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h5 {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
     margin-block-start: .25em;
    margin-block-end: .25em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h6 {
    color: #ccc;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

blockquote {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 20px;
    border-left: #eee 5px solid;
    padding: 0 0 0 40px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.cta{
  background-color: #222;
  color: #fff;
  margin-top: 6em;
  padding: 3em 10em;
}

.cta .cta-copy {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 4em;
}

.cta .cta-copy h2 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
  margin-block-start: .25em;
  margin-block-end: .5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button{
  color: #fff;
  background-color: #ff0048;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: 0;
  border-radius: 50px;
  padding: 10px 50px;
  transition: .5s;
}

button:hover{
  background-color: #000;
  color: #fff;
}

footer{
  background-color: #111;
  color: #999;
  text-align: center;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 2em 0;
}

footer a{
  color: #fff;
  text-decoration: none;
  transition: .5s;
}

footer a:hover{
  background-color: #ff0048;
  color: #fff;
}