@import "normalize";
@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

// !-- Large Screens //

* {
  box-sizing: border-box;
}

.nav-column {
  float: left;
}

.nav-left {
  width: 50%;
}

.nav-right {
  width: 50%;
}

.column {
  float: left;
}

.left {
  width: 50%;
}

.right {
  width: 50%;
}

.column-third {
  float: left;
}

.col-third-1 {
  width: 25%;
}

.col-third-2 {
  width: 25%;
}

.col-third-3 {
  width: 50%;
}

.column-half {
  float: left;
}

.col-half-1 {
  width: 50%;
}

.col-half-2 {
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

body {
  font-family: "Cardo", serif;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: -0.01em;
  line-height: 1.5;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  display: block;
  margin-block-start: 1.35em;
  margin-block-end: 1.35em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

b, strong {
  font-weight: 500;
}

hr {
  border-width: 0.01em;
  border-color: rgba(0,0,0,0.25);
  border-style: solid;
}

li{
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 300;
  font-size: 19px;
}

.divider{
  border-bottom: 4px #ddd solid;
  width: 50px;
}

.icon{
  margin-left: 50px;
  width: 36px;
}

.logo{
  margin-left: 50px;
  width: 130px;
}

.firstcharacter {
  color: #111;
  float: left;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 75px;
  font-weight: 500;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

.about{
  padding-top: 10px;
  margin-right: 50px;
  text-align: right;
  color: #000;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.about a{
  color: #000;
  font-weight: 400;
  text-decoration: none;
  padding-left: 50px;
}

.about a:hover{
  color: #ff0048;
  text-decoration: none;
}

.about .active{
  color: #999;
  font-weight: 400;
  text-decoration: none;
  padding-left: 50px;
}

.main-content {
  margin: 0 auto;
}

.page-header {
    margin: 1em auto;
}

.chapter-header {
  background-color: #f4f4f3;
  padding: 1em 0;
}

.main-copy{
  margin: 3em auto 6em;
  max-width: 60ch;
}

.main-toc{
  margin: 0 auto 1em;
  max-width: 1200px;
}

.main-landing{
  margin: 1em auto 4em;
  max-width: 1200px;
}

.main-page{
  margin: 1em auto 6em;
  max-width: 1200px;
}

.main-framework{
  margin: 0 auto;
}

.landing{
  padding: 6em 4em 0 0;
  font-size: 17px;
}

.landing h1 {
  color: #000;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 48px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.05em;
  margin-block-start: .25em;
  margin-block-end: .25em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.landing h2 {
  color: #999;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.03em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.landing h6 {
  color: #666;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.03em;
  line-height: 1.5;
  text-align: left;
  margin-block-start: 0px;
  margin-block-end: 0.5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-top: 8px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.landing a.resource-link{
  color: #ff0048;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.03em;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.landing a.resource-link:hover{
  color: #000;
  text-decoration: none;
}

.landing a.author-link{
  font-weight: 500;
  color: #000;
  text-decoration: none;
}

.landing a.author-link:hover{
  color: #ff0048;
  text-decoration: none;
}

.landing button{
  font-weight: 400;
}


.toc h2 {
  color: #999;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 36px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.03em;
  margin-block-start: 1.25em;
  margin-block-end: 1.25em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.toc h4 {
  color: #999;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.03em;
  margin-block-start: 1.25em;
  margin-block-end: 1.25em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.toc a{
  color: #000;
  text-decoration: none;
}

.toc a:hover{
  background-color: #ff0048;
  color: #fff;
  text-decoration: none;
}

img.book-cover{
  display: block;
  margin: 20px auto 30px;
  max-width: 65%;
  box-shadow: 0 0 10px 0 rgba(40,42,47,0.1), -10px 10px 24px 10px rgba(40,42,47,0.05), -30px 40px 30px 0 rgba(40,42,47,0.1), -10px 10px 10px -5px rgba(40,42,47,0.1);
}

// img.book-cover:hover{
//   -webkit-box-shadow: 20px 20px 20px 0px rgba(187,187,187,1);
//   -moz-box-shadow: 20px 20px 20px 0px rgba(187,187,187,1);
//   box-shadow: 20px 20px 20px 0px rgba(187,187,187,1);
// }

.downloads{
  background-color: #f4f4f3;
  text-align: center;
  margin-top: 4em;
  padding: 1em 0;
}

.downloads a{
  color: #ff0048;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: -0.03em;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.downloads a:hover{
  color: #000;
}

.download-left{
  padding-right: 30px;
}

a.download-link{
  color: #ff0048;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.03em;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  padding-right: 40px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a.download-link:hover{
  color: #000;
  text-decoration: none;
}

img.illustration{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  width: 700px;
}

.page-title h1{
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 70px;
  font-weight: 500;
  letter-spacing: -0.03em;
  line-height: 1;
  display: block;
  margin-block-start: .1em;
  margin-block-end: .5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1{
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 90px;
  font-weight: 500;
  letter-spacing: -0.03em;
  line-height: 1;
  display: block;
  margin-block-start: .1em;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 1;
  margin-block-start: 2em;
  margin-block-end: .25em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h3{
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1;
  display: block;
  margin-block-start: .5em;
  margin-block-end: .5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h4 {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 26px;
    font-weight: 300;
    letter-spacing: -0.02em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h5 {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -0.02em;
    margin-block-start: .25em;
    margin-block-end: .25em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h6 {
    color: #ccc;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

blockquote {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 20px;
    border-left: #ddd 4px solid;
    padding: 0 50px 0 30px;
    letter-spacing: -0.03em;
    margin-inline-start: 20px;
    margin-inline-end: 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.cta{
  background-color: #222;
  color: #fff;
  margin-top: 6em;
  padding: 3em 0;
}

.cta-inner{
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}

.cta-copy {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 4em;
}

.cta-copy h2 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
  margin-block-start: .25em;
  margin-block-end: .5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button{
  color: #fff;
  background-color: #ff0048;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: 0;
  border-radius: 50px;
  padding: 12px 50px;
  margin: 20px 10px 20px 0;
}

button:hover{
  background-color: #000;
  color: #fff;
}

button.cta{
  color: #fff;
  background-color: #ff0048;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: 0;
  border-radius: 50px;
  padding: 10px 50px;
  margin: 0 0 20px;
}

button.cta:hover{
  background-color: #000;
  color: #fff;
}

.next{
  margin-top: 0;
}

.next a{
  background-color: #f4f4f3;
  padding: 2em 0;
  text-align: center;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 48px;
  font-weight: 500;
  letter-spacing: -.03em;
  line-height: 1;
  display: block;
  color: #000;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: .5s;
}

.next a:hover{
  background-color: #ff0048;
  color: #fff;
  text-decoration: none;
}

.credit{
  text-align: left;
  margin-left: 50px;
}

.license{
  text-align: right;
  margin-right: 50px
}

footer{
  background-color: #111;
  color: #999;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 13px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 2em 0;
}

footer a{
  color: #fff;
  text-decoration: none;
}

footer a:hover{
  background-color: #ff0048;
  color: #fff;
}

.definition{
  background-color: #fff;
  margin: 4em 6em 5em;
}

.definition-copy{
  max-width: 82ch;
}


.definition h1{
  color: #000;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 150px;
  font-weight: 500;
  letter-spacing: -0.075em;
  line-height: 0.95;
  display: block;
  padding-right: 50px;
  margin-block-start: 0px;
  margin-block-end: 0.25em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.definition h4 {
  color: #000;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 56px;
  font-weight: 300;
  line-height: 1.25;
  letter-spacing: -0.05em;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.principles{
  background-color: #000;
  padding: 4em 6em;
}

.principles-copy{
  max-width: 60ch;
}

.principles h1{
  color: #fff;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 120px;
  font-weight: 300;
  letter-spacing: -0.03em;
  line-height: .75;
  display: block;
  text-align: right;
  padding-right: 50px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.principles h2 {
  color: #fff;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 1;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.principles h3 {
  color: #999;
}

.principles h5 {
  color: #fff;
  font-size: 18px;
}

.glyph-1{
  float: right;
  margin-right: 100px;
}

.glyph-2{
  float: right;
  margin-right: 100px;
}

.glyph-3{
  float: right;
  margin-right: 70px;
}

.practices-copy{
  max-width: 40ch;
}

.practices{
  background-color: #fff;
  padding: 4em 6em;
}

.practices h1{
  color: #999;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 120px;
  font-weight: 300;
  letter-spacing: -0.03em;
  line-height: 1;
  display: block;
  text-align: right;
  padding-right: 50px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.practices h2 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 1;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.practices h3 {
  color: #999;
}

.practices h5 {
  font-size: 18px;
}

.about-page{
  color: #000;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.01em;
  line-height: 1.5;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.about-page button{
  font-weight: 400;
}

.about-page button:hover{
  background-color: #000;
  color: #fff;
}

.about-page a.resource-link{
  color: #ff0048;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.03em;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.about-page a:hover{
  color: #000;
 } 

.about-page h1{
  color: #000;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 70px;
  font-weight: 500;
  letter-spacing: -0.05em;
  line-height: 1;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.about-page h2{
  color: #000;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: -0.03em;
  line-height: 1.25;
  margin-block-start: 0px;
  margin-block-end: 0.5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.about-page h4{
  color: #000;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -0.03em;
  line-height: 1.5;
  margin-block-start: 0px;
  margin-block-end: 0.5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.about-page h5{
  color: #000;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.03em;
  line-height: 1.5;
  margin-block-start: 0px;
  margin-block-end: 0.5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.about-page h6{
  color: #666;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.03em;
  line-height: 1.5;
  text-align: left;
  margin-block-start: 0px;
  margin-block-end: 0.5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-top: 8px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.resource-icon{
  position: relative;
  top: 3px;
}

.book-image{
  width: 100%;
  margin-bottom: 1.5em;
}

.download-copy{
  padding-right: 6em;
}

.download-copy a{
  color: #ff0048;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 15px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.download-copy a:hover{
  color: #000;
}

// !-- Medium Screens //

@media screen and (max-width: 1000px) {
.landing{padding: 20px 40px 0 0;}
}

@media screen and (max-width: 800px) {
.landing{padding: 0 40px 0 0;}
}


// !-- Small Screens //

@media screen and (max-width: 600px) {
  body{font-size: 21px;}
  img.book-cover{max-width: 75%; margin-bottom: 1.25em;}
  .column {width: 100%;}
  .main-toc {margin: 1em auto; max-width: 85%;}
  .main-landing {margin: 1em auto; max-width: 85%;}
  .main-copy {margin: 2em auto 4em; max-width: 85%;}
  .main-framework{max-width: 100%; padding:0;}
  .main-page {margin: 1em auto; max-width: 85%;}
  .nav-left {width: 25%;}
  .nav-right {width: 75%;}
  .about{margin-right: 25px;}
  .about a{padding-left: 30px;}
  .about .active{padding-left: 30px;}
  .icon{margin-left: 25px;}
  .logo{margin-left: 25px;}
  .landing{padding: 0; font-size:17px;}
  .landing h1{font-size: 40px; letter-spacing: -0.05em}
  .toc h2 {font-size:27px;}
  .cta{padding: 2em 0;}
  .cta-copy{padding:0 0 20px 0;}
  button{font-size: 14px; width:100%; margin-bottom: 15px; margin-right: 0;} 
  button.small{font-size: 14px; width:100%; margin-bottom: 15px; margin-right: 0; padding: 10px 50px;} 
  footer{font-size: 12px;}
  .credit {text-align: center; margin: 0 0 10px 0;}
  .license {text-align: center; margin: 0;}
  img.illustration{width:100%; margin-top: 1em;}
  img.book-image{width:100%; margin-bottom: 0.5em}
  h1{font-size:60px; letter-spacing: -0.05em;}
  h2{font-size: 25px;}
  h3{font-size: 14px;}
  h4{font-size: 25px;}
  h5{font-size: 20px;}
  blockquote{font-size: 19px; border-left: #eee 5px solid; padding: 0 0 0 20px; margin-inline-start: 0px; margin-inline-end: 0px;}
  .next a{font-size: 36px;}
  .about-page{font-size: 17px; margin-bottom: 4em;}
  .about-page h1 {font-size: 48px; margin-bottom: 0.5em;}
  .about-page h2 {font-size: 26px;}
  .about-page h6 {font-size: 15px; text-align: center;}
  .download-left{padding-right: 30px;}
  .landing a.resource-link{font-size: 12px;}
  .about a.resource-link{font-size: 12px;}
  .download-copy{padding-right: 0;}
  .column-third{width: 100%; text-align: center;}
  .column-half{width: 100%; text-align: center;}
  .definition{padding:0 30px; margin:0;}
  .principles{padding:0 30px 50px;}
  .practices{padding:0 30px;}
  .definition h1{font-size:90px;}
  .definition h4{font-size:30px; line-height: 1.5;}
  .glyph-1{float:none; margin-right:0; padding-bottom: 20px;}
  .glyph-2{float:none; margin-right:0; padding-bottom: 20px;}
  .glyph-3{float:none; margin-right:0; padding-bottom: 20px;}
  .practices h1{text-align: center; padding: 0 0 20px 0;}
  .principles h2{font-size: 25px; padding-bottom: 10px;}
  .principles h5{font-size: 17px;}
  .practices h2{font-size: 25px; padding-bottom: 10px;}
  .practices h5{font-size: 17px;}
  .principles h3{margin-block-start:4em; margin-block-end: 4em;}
  .practices h3{margin-block-start:4em; margin-block-end: 4em;}
}


