<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% include head.html %}
  </head>
  <body>
    <header class="chapter-header" role="banner">
       {% include nav.html %}
    </header>

    <main id="content" class="main-content" role="main">
      <div class="main-copy">
        {{ content }}
      </div>

      {% if page.nextpage %}
      <div class="next">
        <a href="{{ page.nextpage }}">{{ page.nexttitle }}</a>
      </div>
      {% endif %}
    </main>

    {% include footer.html %}
  </body>
</html>
