<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% include head.html %}
  </head>
  <body style="background-color: #fff;">
    <header class="page-header" role="banner">
      <div class="row">
        <div class="nav-column nav-left"><a href="/toc" class="home"><img src="/images/icon.svg" class="icon"></a></div>
        <div class="nav-column nav-right">
          <div class="about">
            {% if page.permalink == "/framework" %}
            <span class="active">Framework</span>
            {% else %}
            <a href="/framework" class="nav-link">Framework</a>
            {% endif %}

            {% if page.permalink == "/about" %}
            <span class="active">About</span>
            {% else %}
            <a href="/about" class="nav-link">About</a>
            {% endif %}

             {% if page.permalink == "/download" %}
            <span class="active-download">Download</span>
            {% else %}
            <a href="/download" class="nav-download">Download</a>
            {% endif %}

          </div>
        </div>
      </div>
    </header>

    <main id="content" class="main-content" role="main">
      <div class="main-page">
        <div class="{{ page.pageclass }}">
          <div class="row">
            <div class="column left">
              {% if page.coverimage %}
              <img src="{{ page.coverimage }}" class="book-cover" />
              {% elsif page.title %}
              <h1>{{ page.title }}</h1>
              {% endif %}
            </div>
            <div class="column right">
              {{ content }}
            </div>
          </div>
        </div>
      </div>
    </main>

    {% include footer.html %}
  </body>
</html>
